
.App {}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background:linear-gradient(90deg, rgba(49,60,94,1) 0%, rgba(0,69,214,1) 100%);
  height: 80px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

li {
  padding-top: 27px;
  padding-right: 30px;
}

.logo {
  position: absolute;
  left: 5%;
  color: #fff;
  padding-top: 15px;
}

.logo h1{
  font-weight: bold;
  font-size: 2.2rem;
}

.header li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.freetrail {
  padding: 5px 10px;
  background-color: #2d2d2d;
}

.titlebar {
  width: 100%;
  background-color: #333;
  margin-top: 80px;
  padding: 17px 0;
  color: #fff;
}

.titlebar h3 {
  padding-left: 5%;
}

.container {
  padding-top: 5%;
  padding-bottom: 10%;
}

.movies {
  /*background: url('./images/clapperboard.png') no-repeat;*/
  background-position: center;
  background-size: 50%;
  background-color: #333;
  height: 40vh;
  border-radius: 4px;
}

.movies h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.2rem;
}

.movies a {
  display: block;
  height: 100%;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #333;
  padding-bottom: 20px;
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.footer ul li {
  padding-top: 27px;
  padding-right: 10px;
  font-size: 14px !important;
  color: #fff;
}

.footer ul li a {
  font-size: 14px !important;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.last_link a{
  border-right: none !important;
}
.footer ul p {
  font-size: 14px !important;
  color: #fff;
}

.social {
  height: 20px;
  margin-right: 30px;
  margin-top: 15px;
}

.download {
  height: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.section_container {
  padding-top: 180px;
  min-height: 80vh;
}

.movies_list img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px 0px #545454;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.movies_list {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.movies_list .title_div {
  position: relative;
  background-color: #2d2d2d;
  color: #fff;
  padding: 6px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 110px;
  box-shadow: 0px 3px 10px 0px #545454;
}
.title_div p {
  margin-bottom: 0px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:14px;
}

input,
select {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  outline: none;
  padding: 6px 10px;
  margin-bottom: 30px !important;
}
.css-g1d714-ValueContainer{
  height: 40px !important;
}

.pagename {
  width: 100%;
  background-color: #333;
  position: absolute;
  left: 15px;
  top: 80px;
  height: 60px;
}

.pagename h3 {
  color: #fff;
  padding-top: 13px;
}

.loader-container,
.loader-container:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loader-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container:before {
  content: '';
  background-color: #a7a3a2;
  opacity: 0.3;
}
.loader {
  animation: loader-spin infinite 1s linear;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 5px solid #bcc8dc;
  border-top-color: #1f8dcc;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 568px) {
  .logo {
    padding-top: 29px !important;
  }

  .logo h1 {
    font-size: 20px;
  }

  .header li {
    padding-top: 30px;
    padding-right: 2%;
  }

  .header li a {
    font-size: 16px;
  }

  .freetrail {
    padding: 4px 10px;
  }

  .footer ul {
    display: block;
    padding-left: 0;
    text-align: center;
  }

  .footer ul li {
    padding-top: 20px;
  }

  .footer ul li a {
    border: none;
    padding-right: 0;
  }

  .movies {
    height: 55vh;
    margin-bottom: 15px;
  }
  .social {
    margin-top: -5px;
    margin-bottom: 10px;
  }
}